#set($subject = "[Alert] High temperature for $device.name")
#set($tempString = $numberTool.format("0.00 celsius", $event.getDouble('temperature')))
<!DOCTYPE html>
<html>
<body>
<p>
    High temperature detected on $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.serverTime, $locale, $timezone) for
    <strong>$device.name</strong> at <strong>$tempString</strong>.
    Please take action as soon as possible.
</p>
</body>
</html>
